@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@300&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to top right, #13191c, #414b52);
	background-attachment: fixed;
    object-fit: cover;
}

#menu {
    background: white;
    height: 75px;
    box-shadow: 0px 0px 40px black;
    display: flex;
    align-items: center;
    z-index: 100;

}
#icon {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 100px;
    background: none;
}
#iconimage{
    height: 50px;
    width: 48px;
}
#logotext {
    font-family: "Open Sans";
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 25px;
    font-weight: 10px;
    margin-left: 15px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
#accountinfo {
    position: absolute;
    top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


#accountinfo {
    display: flex;
    z-index: 1;
}
#pfpcredentials {
    width: 300px;
    height: 420px;
    background: white;
    border-bottom: 7px solid;
    border-image-source: linear-gradient(to right, dodgerblue, mediumspringgreen);
    border-image-slice: 60 30;
    box-shadow: 0px 0px 20px black;
    text-align: center;
    padding-top: 30px;
}
#usernamecredentials {
    width: 300px;
    height: 420px;
    background: white;
    border-bottom: 7px solid;
    border-image-source: linear-gradient(to left, dodgerblue, mediumspringgreen);
    border-image-slice: 60 30;
    box-shadow: 0px 0px 20px black;
    margin-left: 15px;
    text-align: center;
    padding-top: 30px;
}
#passcred {
    width: 300px;
    height: 420px;
    background: white;
    border-bottom: 7px solid;
    border-image-source: linear-gradient(to right, dodgerblue, mediumspringgreen);
    border-image-slice: 60 30;
    box-shadow: 0px 0px 20px black;
    margin-left: 15px;
    text-align: center;
    padding-top: 30px;
}

#pfppic {
    height: 150px;
    width: 150px;
    border-radius: 10000px;
}

#pfptitle, #usernametitle, #passtitle {
    text-transform: capitalize;
    font-family: "Open-Sans";
    font-size: 30px;
    padding-top: 10px;
    font-weight: lighter;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 22.5px;
    letter-spacing: 1px;
    word-spacing: 1px;
    width: 250px;
    border-radius: 7px;
    letter-spacing: 1px;
    margin-top: 15px;
}

#pfpurl, #newusername, #oldpass, #newpass1, #newpass2 {
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 8px;
    border-radius: 0px;
    margin-top: 10px;
    transition: border 0.3s;
    transition: border-radius 0.3s;
}
#pfpurl {
    margin-top: -10px;
}
#pfpurl:hover, #newusername:hover, #oldpass:hover, #newpass1:hover, #newpass2:hover {
    border: 1px solid black;
    border-radius: 100px;
}

::placeholder {
    font-size: 13px;
    font-family: sans-serif;
}

#pfpchange, #usernamechange, #passwordchange {
    color: white;
    font-family: sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    cursor: pointer;
    background: #0060af;
    transition: background 0.1s;
    margin-top: 25px;
}
#pfpchange:hover, #usernamechange:hover, #passwordchange:hover {
    background: #1989e6;
}

