@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@300&display=swap');
body, html {
	margin: 0;
	padding: 0;
	background: linear-gradient(to bottom right, #5f61ed, dodgerblue, mediumspringgreen); 
}

#login{
	position: absolute;
	top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
	width: 450px;
	height: 650px;
	background: white;
	border: none;
	border-radius: 15px;
	box-shadow: 0px 0px 15px black;
}

#username, #password {
	outline: none;
	border: none;
	width: 75%;
	height: 40px;
	text-align: left;
	font-family: 'Noto Sans';
	margin-left: 12.5%;
	border-bottom: 2px solid #16191c;
	color: black;
	font-family: "Open Sans";
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 15px;
}
#username {
	margin-top: 225px;
}

#password {
	margin-top: 15px;
}

#logo {
	position: relative;
	width: 75%;
	margin-left: 12.5%;
	top: 125px;
	text-align: center;
	font-family: "Open Sans";
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 20px;
	font-weight: 10px;
}

#submit{
	margin-left: 12.5%;
	outline: none;
	background: none;
	border: 2px solid black;
	text-transform: uppercase;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

::placeholder {
	color: black;
	letter-spacing: 1px;
	text-transform: uppercase;
	
}
