@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@300&display=swap');
body, html {
	margin: 0;
	padding: 0;
}

#login{
	position: absolute;
	top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
	width: 500px;
	height: 650px;
	background: white;
	border: 4px solid;
        border-image-source: linear-gradient(to right, dodgerblue, crimson, dodgerblue, crimson);
        border-image-slice: 60 30;
}

#username, #password {
	outline: none;
	border: none;
	width: 75%;
	height: 40px;
	border-radius: 10px;
	text-align: left;
	font-family: 'Noto Sans';
	margin-left: 12.5%;
	background: #16191c;
	color: white;
	font-family: "Open Sans";
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#username {
	margin-top: 250px;
}

#logo {
	position: relative;
	width: 75%;
	margin-left: 12.5%;
	top: 150px;
	text-align: center;
	font-family: "Open Sans";
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-weight: 5px;
}
