@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@300&display=swap');
body, html {
	margin: 0;
	padding: 0;
	background: linear-gradient(to bottom right, #13191c, #414b52);
	background-attachment: fixed;
	object-fit: cover;
}

#icon {
	z-index: -20;
	position: fixed;
	margin-left: -43.5%;
	margin-top: 5%;
}
#login{
	position: absolute;
	top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
	width: 1000px;
	height: 550px;
	background: white;
	border: none;
	box-shadow: 0px 0px 50px black;
	text-align: center;
}

#username, #password {
	outline: none;
	border: none;
	width: 250px;
	height: 40px;
	text-align: left;
	font-family: 'Noto Sans';
	border-bottom: 2px solid #16191c;
	color: black;
	font-family: "Open Sans";
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 15px;
	position: relative;
	margin-left: 50%;
	margin-top: -20%;
}
#username {
	margin-top: 225px;
}

#password {
	margin-top: 15px;
}

#logo {
	position: fixed;
	width: 250px;
	top: 525px;
	font-family: "Open Sans";
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 25px;
	font-weight: 10px;
	margin-left: 2%;
	margin-top: -46%;
	border-right: 1px solid black;
	padding-top: 220px;
	padding-bottom: 120px;
	padding-left: 100px;
	padding-right: 130px;
}

#submit {
	outline: none;
	background: rgb(0, 96, 175);
	color: white;
	border: 2px solid transparent;
	text-transform: uppercase;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 15px;
	width: 150px;
	margin-left: 50%;
	letter-spacing: 2px;
	transition: background 0.1s;
	cursor: pointer;
	font-weight: bold;
	font-size: 13px;
}
#register {
	margin-top: 0;
	letter-spacing: 0px;
	transition: background 0.1s;
	margin-top: 150px;
	margin-left: 69.99%;
	cursor: pointer;
	background: none;
	border: none;
	color: white;
	font-family: "Open-Sans";
	font-size: 15px;
	transition: color 0.1s;
	outline: none;
}

#submit:hover {
	background: #1989e6;
}
#register:hover {
	color: dodgerblue;
}

#header {
	position: fixed;
	width: 250px;
	top: 525px;
	font-family: "Open Sans";
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-weight: 10px;
	margin-left: 62%;
	margin-top: -37%;
}

::placeholder {
	color: black;
	letter-spacing: 3px;
	text-transform: uppercase;
	
}

#error {
	position: relative;
	background: transparent;
	text-align: center;
	font-family: "Open Sans";
	font-size: 14px;
	margin-left: 50%;
	color: red;
}
/*Media maxwidth: 1050, media max height: 600*/
