@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@300&display=swap');
body, html {
	margin: 0;
	padding: 0;
	  background: linear-gradient(to bottom right, #13191c, #414b52);
}

#login{
	position: absolute;
	top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
	width: 1000px;
	height: 550px;
	background: white;
	border: none;
	box-shadow: 0px 0px 50px black;
	text-align: center;
}

#username, #password {
	outline: none;
	border: none;
	width: 250px;
	height: 40px;
	text-align: left;
	font-family: 'Noto Sans';
	border-bottom: 2px solid #16191c;
	color: black;
	font-family: "Open Sans";
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 15px;
	positon: absolute;
	margin-left: 40%;
	margin-top: -10em;
}
#username {
	margin-top: 225px;
}

#password {
	margin-top: 15px;
}

#logo {
	position: relative;
	width: 250px;
	top: 125px;
	font-family: "Open Sans";
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 25px;
	font-weight: 10px;
	margin-left: 10%;
	margin-top: 20%;
}

#submit{
	outline: none;
	background: none;
	border: 2px solid black;
	text-transform: uppercase;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 15px;
	letter-spacing: 4px;
	
}

::placeholder {
	color: black;
	letter-spacing: 1px;
	text-transform: uppercase;
	
}
