@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@300&display=swap');
body, html {
	margin: 0;
	padding: 0;
}

#login{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 6%;
	margin-top: 6%;
	width: 500px;
	height: 550px;
	background: linear-gradient(to bottom, rgb(243, 243, 243), aqua);
	border-radius: 5px;
}

#username, #password {
	outline: none;
	border: none;
	width: 75%;
	height: 40px;
	border-radius: 5px;
	text-align: center;
	font-family: 'Noto Sans';
	margin-left: 12.5%;
}
#username {
	margin-top: 250px;
}

#logo {
	position: relative;
	width: 75%;
	margin-left: 12.5%;
	top: 150px;
	text-align: center;
	font-family: "Open Sans";
	font-size: 40px;
}