html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/css/login.css", type="text/css")
		script(src='/js/jquery.js')
		script(src='/js/login.js')
		title Login
	body
		script(src="/js/jquery.js")
		div#login
			img(src="/images/iboki_logo.png", height="auto", width="375px")#icon
			div#logo IBOKI
			form.loginForm
				p#header LOGIN
				input(placeholder="Username", name="username")#username
				input(type="password", placeholder="Password", name="password")#password
				br
				br
				#error &nbsp;
				button#submit Log In
			button(onclick="window.location.href='/register'")#register If you do not have an account, create one here!
