html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="/css/profile.css")
        title Dashboard
    body
        img(src="https://uwosh.edu/deanofstudents/wp-content/uploads/sites/156/2019/02/profile-default.jpg")#pfppic
        p#pfptitle Your Profile Picture

        form(action="/changepfp" method="POST")
            input(type="text", name="pfpURL", placeholder="Enter URL of picture")#pfpurl
            button(type="submit")#pfpchange Change
