html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="/css/dashboard.css")
        title Dashboard
    body
        div#menu
            button#icon

        div#pfpcredentials
            img(src="https://uwosh.edu/deanofstudents/wp-content/uploads/sites/156/2019/02/profile-default.jpg")#pfppic
            p#pfptitle Your profile picture

            form(action="/changepfp" method="POST")
                input(type="text", name="pfpURL", placeholder="Image URL")#pfpurl
                br
                button(type="submit")#pfpchange Change
        div#usernamecredentials
            p#usernametitle Your Username
