html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/css/login.css", type="text/css")
		title Register
	body
		script(src="/js/jquery.js")
		div#login
			img(src="/images/iboki_logo.png", height="auto", width="375px")#icon
			div#logo IBOKI
			form(action="/register", method="POST").loginForm
				p#header Sign Up
				input(placeholder="Create Username", name="username")#username
				input(type="password", placeholder="Create Password", name="password")#password
				br
				br
				button(type="submit", onclick="window.location.href='/login'")#submit Register
